.welcome-header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  flex-direction: column;
}
.welcome-header__title {
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  margin-top: 20px;
  width: 60%;
  opacity: 0.7;
}
.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login-form input {
  margin: 10px 30px;
  padding: 10px;
  font-size: 20px;
  opacity: 0.6;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.login-form button {
  margin: 10px 30px;
  padding: 15px;
  font-size: 20px;
  background-color: var(--green);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}
.login-form input:focus {
  border-color: var(--green);
  transition: border-color 0.5s ease-in-out;
}
.login-form a {
  text-decoration: none;
  margin-top: 15px;
  color: inherit;
}
